* {
    margin: 0;
    padding: 0;
}
html {
    height: 100%;
}
#game-container {
    display: none;
}
#main-menu {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 100vh;
}
#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}
#button-menu{
    background: black;
    position: absolute;
    width: 20%;
    height: 40%;
    opacity: 70%;
    border-radius: 30px;
    margin-top: 20%;
    margin-left: 40%;
    margin-right: 40%;
}
#startbtn{
    cursor: pointer;
    border: none;
    margin-top: 20%;
    margin-left: 10%;
    margin-right: 10%;
    height: 8vh;
    width: 80%;
    font-size: 30px;
    border-radius: 80px;
    background: transparent;
    color: white;
    transition: background 0.75s ease-in-out;
    transition: color 0.75s ease-in-out;
}
#rulesbtn{
    cursor: pointer;
    border: none;
    margin-top: 20%;
    margin-left: 10%;
    margin-right: 10%;
    height: 8vh;
    width: 80%;
    font-size: 30px;
    border-radius: 80px;
    background: transparent;
    color: white;
    transition: background 0.75s ease-in-out;
    transition: color 0.75s ease-in-out;
}

#startbtn:hover, #rulesbtn:hover {
    background: white;
    color: black;
  }